@font-face {
  font-family: 'Intelo';
  src: url('@/assets/fonts/Intelo-Regular.ttf');
}

@font-face {
  font-family: 'Cairo';
  src: url('@/assets/fonts/Cairo-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Cairo';
  src: url('@/assets/fonts/Cairo-Bold.ttf');
  font-weight: 700;
}
